body {
    background-color: #20242d;
    color: #fff;
}
.h-100vh {
    height: 100vh;
}
.bg-back {
    background-color: #01eefe;
}
.bg-dar {
    background-color: #20242d;
}
.text-rathi {
    color: #01eefe;
}
.bg-background {
    background-color: #20242d;
}
.nav ul {
    list-style: none;
}
.logo h1 {
    font-size: 40px;
    color: #fff;
}
.logo a:hover {
    color: #01eefe;
}
.nav a {
    color: #fff;
    font-size: 18px;
}
.nav a:hover {
    color: #01eefe;
}
header {
    border-bottom: 1px solid #01eefe;
}
.banner-text h1 {
    font-size: 30px;
}
.banner-text h2 {
    font-size: 50px;
}
.banner-text h3 {
    font-size: 30px;
}
.banner-text span a {
    font-size: 30px;
    color: #01eefe;
}
.social-icons a {
    width: 40px;
    height: 40px;
    border: 2px solid #01eefe;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #01eefe;
}
/* .social-icons a:hover {
    border-color: #fff;
    color: #fff;
} */
.banner-img  {
    width: 500px;
    height: 500px;
}
.banner-img img {
    border-radius: 50%;
    border: 5px solid #01eefe;
}
.btn-banner {
    background-color: #01eefe;
    border-radius: 30px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    transition: all .3s;
    box-shadow: 0 0 5px #01eefe;
}
.btn-banner:hover {
    background-color: #20242d;
    border: 1px solid #01eefe;
}
.my-name span {
    display: inline-block;
}
.card {
    height: 300px;
}
.skills h1 {
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}
.png-img img {
    width: 60px;
    height: 60px;
}
.border-graphic {
    border: 1px solid #01eefe;
    border-radius: 20px;
}
.portfolio h1 {
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}
.btn-top {
    background-color: black;
    color: #fff;
}
.card-top {
    height: 300px;
    overflow: hidden;
}
.card-overlay {
    background-color: rgba(0, 0, 0, .6);
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: all .3s;
}
.card-hovered:hover .card-overlay {
    opacity: 1;
    top: 0;
}
.footer-text h6 {
    font-size: 18px;
}
.footer-text a {
    font-size: 20px;
    color: #fff;
    transition: all .3s;
}
.footer-text a:hover {
    color: #01eefe;
}
.contact-footer a {
    font-size: 22px;
}